{% extends 'layout.html' %}

{% block title %}
  {{ title }} - {{ super() }}
{% endblock %}

{% block content %}
  <h1 class="ui header">Login</h1>

  <form class="ui segment form" action="/login" method="post">
    <div class="field">
      <label>Full Name</label>
      <input type="text" name="full_name" value="{{ full_name }}">
    </div>
    <div class="field">
      <label>e-Mail</label>
      <input type="text" name="e_mail" value="{{ e_mail }}">
    </div>

    <button class="ui button" type="submit">Submit</button>
  </form>
{% endblock %}
